In [1]:
import pandas as pd

In [10]:
v1 = pd.read_csv('dev_support_from_bert_SPECIAL_CHARS_CODED.csv')
v2 = pd.read_csv('../../support_classification/data/support_dev_new.csv')

In [11]:
v1

,id,evidence,claim,label,evidence_page,evidence_line,evidence_text,evidence_score
0,91198,"['Colin_Kaepernick', 6, ""He remained the team ...",Colin Kaepernick became a starting quarterback...,NOT ENOUGH INFO,Colin_Kaepernick,6,He remained the team 's starting quarterback f...,0.973688
1,194462,"['Tilda_Swinton', 0, ""Katherine Matilda `` Til...",Tilda Swinton is a vegan.,NOT ENOUGH INFO,Tilda_Swinton,0,Katherine Matilda `` Tilda '' Swinton LRB born...,0.999420
2,137334,"['Soul_Food_-LRB-film-RRB-', 0, ""Soul Food is ...",Fox 2000 Pictures released the film Soul Food.,SUPPORTS,Soul_Food_-LRB-film-RRB-,0,Soul Food is a 1997 American comedy drama film...,1.000000
3,166626,"['Anne_Rice', 5, 'Born in New Orleans , Rice s...",Anne Rice was born in New Jersey.,NOT ENOUGH INFO,Anne_Rice,5,"Born in New Orleans , Rice spent much of her e...",0.999467
4,166626,"['Anne_Rice', 0, ""Anne Rice LRB born Howard Al...",Anne Rice was born in New Jersey.,NOT ENOUGH INFO,Anne_Rice,0,Anne Rice LRB born Howard Allen Frances O'Brie...,0.937869
...,...,...,...,...,...,...,...,...
25389,111816,"['Theresa_May', 0, 'Theresa Mary May LRB née B...",Theresa May worked the docks.,NOT ENOUGH INFO,Theresa_May,0,Theresa Mary May LRB née Brasier ; born 1 Octo...,0.080844
25390,111816,"['Theresa_May', 12, 'After the formation of a ...",Theresa May worked the docks.,NOT ENOUGH INFO,Theresa_May,12,After the formation of a coalition government ...,0.002665
25391,81957,"['Trouble_with_the_Curve', 2, 'Filming began i...",Trouble with the Curve is a television show.,REFUTES,Trouble_with_the_Curve,2,"Filming began in March 2012 , and the film was...",1.000000
25392,81957,"['Trouble_with_the_Curve', 0, 'Trouble with th...",Trouble with the Curve is a television show.,REFUTES,Trouble_with_the_Curve,0,Trouble with the Curve is a 2012 sports drama ...,1.000000
25393,81957,"['Trouble_with_the_Curve', 5, ""This was Eastwo...",Trouble with the Curve is a television show.,REFUTES,Trouble_with_the_Curve,5,This was Eastwood 's first acting project sinc...,1.000000

In [12]:
v2

,id,evidence,claim,label,evidence_page,evidence_line,evidence_text,evidence_score
0,91198,"['Colin_Kaepernick', 6, ""He remained the team ...",Colin Kaepernick became a starting quarterback...,NOT ENOUGH INFO,Colin_Kaepernick,6,He remained the team 's starting quarterback f...,0.973688
1,194462,"['Tilda_Swinton', 0, ""Katherine Matilda `` Til...",Tilda Swinton is a vegan.,NOT ENOUGH INFO,Tilda_Swinton,0,Katherine Matilda `` Tilda '' Swinton LRB born...,0.999420
2,137334,"['Soul_Food_-LRB-film-RRB-', 0, ""Soul Food is ...",Fox 2000 Pictures released the film Soul Food.,SUPPORTS,Soul_Food_-LRB-film-RRB-,0,Soul Food is a 1997 American comedy drama film...,1.000000
3,166626,"['Anne_Rice', 5, 'Born in New Orleans , Rice s...",Anne Rice was born in New Jersey.,NOT ENOUGH INFO,Anne_Rice,5,"Born in New Orleans , Rice spent much of her e...",0.999467
4,166626,"['Anne_Rice', 0, ""Anne Rice LRB born Howard Al...",Anne Rice was born in New Jersey.,NOT ENOUGH INFO,Anne_Rice,0,Anne Rice LRB born Howard Allen Frances O'Brie...,0.937869
...,...,...,...,...,...,...,...,...
25389,111816,"['Theresa_May', 0, 'Theresa Mary May LRB née B...",Theresa May worked the docks.,NOT ENOUGH INFO,Theresa_May,0,Theresa Mary May LRB née Brasier ; born 1 Octo...,0.080844
25390,111816,"['Theresa_May', 12, 'After the formation of a ...",Theresa May worked the docks.,NOT ENOUGH INFO,Theresa_May,12,After the formation of a coalition government ...,0.002665
25391,81957,"['Trouble_with_the_Curve', 2, 'Filming began i...",Trouble with the Curve is a television show.,REFUTES,Trouble_with_the_Curve,2,"Filming began in March 2012 , and the film was...",1.000000
25392,81957,"['Trouble_with_the_Curve', 0, 'Trouble with th...",Trouble with the Curve is a television show.,REFUTES,Trouble_with_the_Curve,0,Trouble with the Curve is a 2012 sports drama ...,1.000000
25393,81957,"['Trouble_with_the_Curve', 5, ""This was Eastwo...",Trouble with the Curve is a television show.,REFUTES,Trouble_with_the_Curve,5,This was Eastwood 's first acting project sinc...,1.000000

In [13]:
for c in v1.columns:
    print(c, (v1[c] == v2[c]).all())

id True
evidence False
claim True
label True
evidence_page False
evidence_line True
evidence_text False
evidence_score False

In [14]:
from unicodedata import normalize as uninorm

In [15]:
v1[(v1.evidence_page.apply(lambda x : uninorm('NFKC',x)) != v2.evidence_page.apply(lambda x : uninorm('NFKC',x)))]

Empty DataFrame
Columns: [id, evidence, claim, label, evidence_page, evidence_line, evidence_text, evidence_score]
Index: []

In [16]:
v1[(v1.evidence_text.apply(lambda x : uninorm('NFKC',x)) != v2.evidence_text.apply(lambda x : uninorm('NFKC',x)))]

Empty DataFrame
Columns: [id, evidence, claim, label, evidence_page, evidence_line, evidence_text, evidence_score]
Index: []

In [17]:
(round(v1.evidence_score - v2.evidence_score, 10)).sum()

0.0